# Database
POSTGRES_DB=AI_Media_Management
POSTGRES_USER=grok_admin
POSTGRES_PASSWORD=change_me_to_something_secure

# App
SECRET_KEY=change_me_to_a_random_string
API_HOST=0.0.0.0
API_PORT=8000

# Media
MEDIA_DIR=./media
THUMBNAIL_DIR=./thumbnails